.header {
    width: 100%;
    text-align:center;
    background-color: rgb(13, 13, 151);
    color: white;
    padding: 20px 0;
    margin-bottom: 20px;
}

h2 {
  margin: 10px 0;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  width: 95%;
}

.form-input {
  width: 100%;
  text-align: center;
}

.search-btn {
  width: 100%;
  margin: 5px 0;
}

#left-side {
 border: 1px solid black;
 padding-bottom: 10px;
}

/* Current Day Styles */
.today-cast {
  background-color: lightblue;
  padding: 10px 0;
  margin: 20px 0;
}

/* 5 Day Styles */
.day-single {
  background-color: darkblue;
  color: white;
  margin: 10px 10px;
  padding: 10px 0;
}

/* .custom-btn {
    background-color: var(--blue);
    color: var(--white);
  }
  
  .custom-btn:hover {
    background-color: var(--dark-blue);
    color: var(--white);
  } */

  /* Modal Styling */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 5px;
  position: relative;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close-btn:hover {
  color: black;
}
